@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary-text-color: #323338;
  --background-primary: #FFFFFF;
}

html{
  height: 100vh;
}

body {
  color: var(--primary-text-color);
  background: var(--background-primary);
  height: 100%;
}
